* {
    padding: 0;
    margin: 0;

}

:root {
    --orange-color: rgba(255, 131, 59, 0.986);
}

body {
    max-width: 1900px;
    margin: 0 auto;
}

.head-site {
    margin: 30px 20% 5px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_h {
    flex: 1;
}

.title_h,
.about_us_h,
.our_services_h {
    font-size: 35px;
}

.head ul li {
    margin: 20px;
    display: inline-block;
    list-style: none;
}

.head ul li a {
    text-decoration: none;
    color: brown;
    font-size: 20px;
}

.icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--orange-color);
    margin: 5px;
}

.section-2 {
    width: 100%;
    height: 80vh;
    background-image: url(/css/photo/background_header.webp);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.section-2 div {
    font-size: 30px;
    max-width: 700px;
    padding: 5% 20%;
    color: #767676;
}

.section-2 div h2 {
    font-size: 60px;
    color: aliceblue
}

.info_about_us {
    margin: 100px 20%;
    display: flex;
}

.info_about_us img {
    max-width: 50%;
}

.info_about_us div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info_about_us div p {
    font-size: 20px;
}

.read_more {
    margin-top: 15px;
}

.button {
    border-radius: 50px;
    border: 1px solid var(--orange-color);
    background: none;
    font-size: 16px;
    padding: 15px;
    cursor: pointer;
    transition: 0.5s;
    width: 25%;
}

.button:hover {
    background-color: var(--orange-color);
    color: white;
}

.thiry_sect {
    background-color: #e7e7e7;
}

.cone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo_services {
    font-size: 35px;
    margin: 10px;
    height: 400px;
    width: 600px;
    background-color: var(--orange-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lad {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.view_all {
    display: block;
    margin: 10px auto;
    width: 150px;
}

.our_services_h {
    text-align: center;
    padding: 20px 0px;
}